<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052414099391-6bu32khitrbfe1s52g6bl89h17v8ejtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052414099391-6bu32khitrbfe1s52g6bl89h17v8ejtm</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0MDr2fD28nQ-3lBvZW56k7R8PVOC2Hw</string>
	<key>GCM_SENDER_ID</key>
	<string>1052414099391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kintlearn.myfirstproject</string>
	<key>PROJECT_ID</key>
	<string>myfirstproject-f32d2</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstproject-f32d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052414099391:ios:347599f7c196aa869d2b0a</string>
</dict>
</plist>